# Part 1 - Numpy

In [5]:
import numpy as np

#### 1. Konstruera en array med 10 kolumner och 5 rader av float-tal. Inget tal får vara samma.

In [6]:
arr = np.random.rand(5,10)
arr

array([[0.04020925, 0.70283035, 0.87921193, 0.17764022, 0.51830463,
        0.56588596, 0.89249049, 0.60792907, 0.57771931, 0.1524541 ],
       [0.01152787, 0.72087211, 0.54823166, 0.18484038, 0.70809453,
        0.36742061, 0.92665129, 0.00960006, 0.11340453, 0.69706203],
       [0.14917802, 0.57326101, 0.90636591, 0.46597962, 0.21053106,
        0.57475746, 0.80206467, 0.50994784, 0.96005183, 0.34190888],
       [0.3399279 , 0.68837363, 0.41546489, 0.80361333, 0.14110814,
        0.34975342, 0.9839917 , 0.65416473, 0.91382324, 0.76610752],
       [0.58640113, 0.77386678, 0.85484192, 0.48864129, 0.19910361,
        0.97665009, 0.70246974, 0.51193226, 0.13222418, 0.72966215]])

#### 2. Konstruera en ny array till med 10 kolumner och 7 rader av float-tal. Den skall inte vara samma som ovan array.

In [7]:
arr2 = np.random.rand(7,10)
arr2

array([[0.42185978, 0.21816608, 0.04852705, 0.01216427, 0.75053838,
        0.65627681, 0.60792511, 0.68377751, 0.44694101, 0.42380367],
       [0.25637753, 0.701131  , 0.01421068, 0.48247677, 0.68675928,
        0.12002973, 0.48867236, 0.60465078, 0.54496694, 0.14239547],
       [0.78564806, 0.96798917, 0.98239523, 0.98575724, 0.39870543,
        0.21538849, 0.05956435, 0.85761906, 0.35849783, 0.17780095],
       [0.17262658, 0.42444593, 0.27432233, 0.98140875, 0.83731115,
        0.57617   , 0.62352456, 0.8368222 , 0.08988693, 0.1058553 ],
       [0.44390765, 0.66295686, 0.87040086, 0.19374363, 0.99036898,
        0.60199687, 0.90278824, 0.35107052, 0.17721076, 0.53876078],
       [0.17980474, 0.59813837, 0.15537819, 0.07685802, 0.85640831,
        0.83621199, 0.89670875, 0.95234559, 0.05806266, 0.45264432],
       [0.88715287, 0.12214231, 0.21996254, 0.79822033, 0.01259669,
        0.43432709, 0.75989279, 0.42313186, 0.18911887, 0.30709532]])

#### 3. Gör om de två arrayerna från föregående uppgifter så att de har 5 kolumner, med som så många extra rader som behövs.

In [8]:
new_arr = arr.reshape(10,5)
new_arr

array([[0.04020925, 0.70283035, 0.87921193, 0.17764022, 0.51830463],
       [0.56588596, 0.89249049, 0.60792907, 0.57771931, 0.1524541 ],
       [0.01152787, 0.72087211, 0.54823166, 0.18484038, 0.70809453],
       [0.36742061, 0.92665129, 0.00960006, 0.11340453, 0.69706203],
       [0.14917802, 0.57326101, 0.90636591, 0.46597962, 0.21053106],
       [0.57475746, 0.80206467, 0.50994784, 0.96005183, 0.34190888],
       [0.3399279 , 0.68837363, 0.41546489, 0.80361333, 0.14110814],
       [0.34975342, 0.9839917 , 0.65416473, 0.91382324, 0.76610752],
       [0.58640113, 0.77386678, 0.85484192, 0.48864129, 0.19910361],
       [0.97665009, 0.70246974, 0.51193226, 0.13222418, 0.72966215]])

In [9]:
new_arr2 = arr2.reshape(14,5)
new_arr2

array([[0.42185978, 0.21816608, 0.04852705, 0.01216427, 0.75053838],
       [0.65627681, 0.60792511, 0.68377751, 0.44694101, 0.42380367],
       [0.25637753, 0.701131  , 0.01421068, 0.48247677, 0.68675928],
       [0.12002973, 0.48867236, 0.60465078, 0.54496694, 0.14239547],
       [0.78564806, 0.96798917, 0.98239523, 0.98575724, 0.39870543],
       [0.21538849, 0.05956435, 0.85761906, 0.35849783, 0.17780095],
       [0.17262658, 0.42444593, 0.27432233, 0.98140875, 0.83731115],
       [0.57617   , 0.62352456, 0.8368222 , 0.08988693, 0.1058553 ],
       [0.44390765, 0.66295686, 0.87040086, 0.19374363, 0.99036898],
       [0.60199687, 0.90278824, 0.35107052, 0.17721076, 0.53876078],
       [0.17980474, 0.59813837, 0.15537819, 0.07685802, 0.85640831],
       [0.83621199, 0.89670875, 0.95234559, 0.05806266, 0.45264432],
       [0.88715287, 0.12214231, 0.21996254, 0.79822033, 0.01259669],
       [0.43432709, 0.75989279, 0.42313186, 0.18911887, 0.30709532]])

#### 4. Ta nu de två arrayerna från de föregående uppgifterna och stapla ihop dem till en array som fortfarande har fem kolumner.

In [10]:
vst_arr = np.vstack([new_arr, new_arr2])
vst_arr

array([[0.04020925, 0.70283035, 0.87921193, 0.17764022, 0.51830463],
       [0.56588596, 0.89249049, 0.60792907, 0.57771931, 0.1524541 ],
       [0.01152787, 0.72087211, 0.54823166, 0.18484038, 0.70809453],
       [0.36742061, 0.92665129, 0.00960006, 0.11340453, 0.69706203],
       [0.14917802, 0.57326101, 0.90636591, 0.46597962, 0.21053106],
       [0.57475746, 0.80206467, 0.50994784, 0.96005183, 0.34190888],
       [0.3399279 , 0.68837363, 0.41546489, 0.80361333, 0.14110814],
       [0.34975342, 0.9839917 , 0.65416473, 0.91382324, 0.76610752],
       [0.58640113, 0.77386678, 0.85484192, 0.48864129, 0.19910361],
       [0.97665009, 0.70246974, 0.51193226, 0.13222418, 0.72966215],
       [0.42185978, 0.21816608, 0.04852705, 0.01216427, 0.75053838],
       [0.65627681, 0.60792511, 0.68377751, 0.44694101, 0.42380367],
       [0.25637753, 0.701131  , 0.01421068, 0.48247677, 0.68675928],
       [0.12002973, 0.48867236, 0.60465078, 0.54496694, 0.14239547],
       [0.78564806, 0.96798917, 0.98239523, 0.98575724, 0.39870543],
       [0.21538849, 0.05956435, 0.85761906, 0.35849783, 0.17780095],
       [0.17262658, 0.42444593, 0.27432233, 0.98140875, 0.83731115],
       [0.57617   , 0.62352456, 0.8368222 , 0.08988693, 0.1058553 ],
       [0.44390765, 0.66295686, 0.87040086, 0.19374363, 0.99036898],
       [0.60199687, 0.90278824, 0.35107052, 0.17721076, 0.53876078],
       [0.17980474, 0.59813837, 0.15537819, 0.07685802, 0.85640831],
       [0.83621199, 0.89670875, 0.95234559, 0.05806266, 0.45264432],
       [0.88715287, 0.12214231, 0.21996254, 0.79822033, 0.01259669],
       [0.43432709, 0.75989279, 0.42313186, 0.18911887, 0.30709532]])

#### 5. Ändra ordningen på kolumnerna så att de kommer i ordningen kolumn5, kolumn3, kolumn4, kolumn1, kolumn2.

In [11]:
index = [4,2,3,0,1]
new_col_order = vst_arr[:,index]
new_col_order

array([[0.51830463, 0.87921193, 0.17764022, 0.04020925, 0.70283035],
       [0.1524541 , 0.60792907, 0.57771931, 0.56588596, 0.89249049],
       [0.70809453, 0.54823166, 0.18484038, 0.01152787, 0.72087211],
       [0.69706203, 0.00960006, 0.11340453, 0.36742061, 0.92665129],
       [0.21053106, 0.90636591, 0.46597962, 0.14917802, 0.57326101],
       [0.34190888, 0.50994784, 0.96005183, 0.57475746, 0.80206467],
       [0.14110814, 0.41546489, 0.80361333, 0.3399279 , 0.68837363],
       [0.76610752, 0.65416473, 0.91382324, 0.34975342, 0.9839917 ],
       [0.19910361, 0.85484192, 0.48864129, 0.58640113, 0.77386678],
       [0.72966215, 0.51193226, 0.13222418, 0.97665009, 0.70246974],
       [0.75053838, 0.04852705, 0.01216427, 0.42185978, 0.21816608],
       [0.42380367, 0.68377751, 0.44694101, 0.65627681, 0.60792511],
       [0.68675928, 0.01421068, 0.48247677, 0.25637753, 0.701131  ],
       [0.14239547, 0.60465078, 0.54496694, 0.12002973, 0.48867236],
       [0.39870543, 0.98239523, 0.98575724, 0.78564806, 0.96798917],
       [0.17780095, 0.85761906, 0.35849783, 0.21538849, 0.05956435],
       [0.83731115, 0.27432233, 0.98140875, 0.17262658, 0.42444593],
       [0.1058553 , 0.8368222 , 0.08988693, 0.57617   , 0.62352456],
       [0.99036898, 0.87040086, 0.19374363, 0.44390765, 0.66295686],
       [0.53876078, 0.35107052, 0.17721076, 0.60199687, 0.90278824],
       [0.85640831, 0.15537819, 0.07685802, 0.17980474, 0.59813837],
       [0.45264432, 0.95234559, 0.05806266, 0.83621199, 0.89670875],
       [0.01259669, 0.21996254, 0.79822033, 0.88715287, 0.12214231],
       [0.30709532, 0.42313186, 0.18911887, 0.43432709, 0.75989279]])

# Part 2 - Pandas

In [12]:
import pandas as pd

In [13]:
data = pd.read_csv('assults.csv')

In [14]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2020 entries, 0 to 2019
Data columns (total 14 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   Index                                  2020 non-null   int64
 1   Area_unit_2013_code                    2020 non-null   int64
 2   Area_unit_2013_label                   2020 non-null   object
 3   Victimisations_calendar_year_2015      2020 non-null   int64
 4   Population_mid_point_2015              2020 non-null   int64
 5    Rate_per_10000_population             2020 non-null   object
 6    Rate_ratio_NZ_average_rate            2020 non-null   object
 7   Urban_area_2013_code                   2020 non-null   int64
 8   Urban_area_2013_label                  2020 non-null   object
 9   Urban_area_type                        2020 non-null   object
 10  Territorial_authority_area_2013_code   2020 non-null   int64
 11  Territorial_authority_area_2013_label  2020 non-null   object
 12  Region_2013_code                       2020 non-null   int64
 13  Region_2013_label                      2020 non-null   object
dtypes: int64(7), object(7)
memory usage: 221.1+ KB

### 1. Hur många regioner finns med i data? Regionerna finns under ”Region_2013_label”.

In [15]:
data['Region_2013_label'].nunique()

17

Svar: 17 regioner (Det blir 16 regioner om man inte räknar 'Area Outside Region'(se listan sorted_regions i fråga 2) som en region.)

### 2. Lista regionerna i bokstavsordning.

In [16]:
unsorted_regions = data['Region_2013_label'].unique()

In [17]:
sorted_regions = sorted(unsorted_regions)
sorted_regions

['Area Outside Region',
 'Auckland Region',
 'Bay of Plenty Region',
 'Canterbury Region',
 'Gisborne Region',
 "Hawke's Bay Region",
 'Manawatu-Wanganui Region',
 'Marlborough Region',
 'Nelson Region',
 'Northland Region',
 'Otago Region',
 'Southland Region',
 'Taranaki Region',
 'Tasman Region',
 'Waikato Region',
 'Wellington Region',
 'West Coast Region']

### 3. Vad var invånarantalet i varje region i mitten på år 2015? Använd Pandas för att visa.
(My translation of question description (since it is not very clear..)is as follows:<br> 
What was the median of population in every region in the year 2015?)

In [18]:
data.groupby('Region_2013_label').Population_mid_point_2015.median().reset_index()

           Region_2013_label  Population_mid_point_2015
0        Area Outside Region                        0.0
1            Auckland Region                     3660.0
2       Bay of Plenty Region                     2020.0
3          Canterbury Region                     2195.0
4            Gisborne Region                     1980.0
5         Hawke's Bay Region                     1375.0
6   Manawatu-Wanganui Region                     1520.0
7         Marlborough Region                     1205.0
8              Nelson Region                     1500.0
9           Northland Region                     1460.0
10              Otago Region                     1160.0
11          Southland Region                      820.0
12           Taranaki Region                     1330.0
13             Tasman Region                      830.0
14            Waikato Region                     1830.0
15         Wellington Region                     2320.0
16         West Coast Region                      320.0

### 4. Hur många brott begicks i varje region år 2015? Ni hittar brotten i kolumnen ”Victimisations_calendar_year_2015”

In [19]:
data.groupby('Region_2013_label').Victimisations_calendar_year_2015.sum().reset_index()

           Region_2013_label  Victimisations_calendar_year_2015
0        Area Outside Region                                  0
1            Auckland Region                               8010
2       Bay of Plenty Region                               1751
3          Canterbury Region                               2942
4            Gisborne Region                                436
5         Hawke's Bay Region                               1068
6   Manawatu-Wanganui Region                               1270
7         Marlborough Region                                209
8              Nelson Region                                357
9           Northland Region                                905
10              Otago Region                               1142
11          Southland Region                                381
12           Taranaki Region                                493
13             Tasman Region                                161
14            Waikato Region                               2330
15         Wellington Region                               2459
16         West Coast Region                                121

### 5. Visa de 10 områden med de högsta antalet överfall. Områden är ”Area_unit_2013_label”.

In [20]:
highest_10_areas = data.sort_values(by=['Victimisations_calendar_year_2015'], ascending=False).head(10)
highest_10_areas

,Index,Area_unit_2013_code,Area_unit_2013_label,Victimisations_calendar_year_2015,Population_mid_point_2015,Rate_per_10000_population,Rate_ratio_NZ_average_rate,Urban_area_2013_code,Urban_area_2013_label,Urban_area_type,Territorial_authority_area_2013_code,Territorial_authority_area_2013_label,Region_2013_code,Region_2013_label
0,1,514102,Auckland Central West,550,15900,346,6.6,4,Central Auckland Zone,Main urban area,76,Auckland,2,Auckland Region
1,2,573101,Willis Street-Cambridge Terrace,447,8300,539,10.3,20,Wellington Zone,Main urban area,47,Wellington City,9,Wellington Region
2,3,529700,Hamilton Central,380,3170,"1,199",22.9,6,Hamilton Zone,Main urban area,16,Hamilton City,3,Waikato Region
3,4,514103,Auckland Central East,375,13250,283,5.4,4,Central Auckland Zone,Main urban area,76,Auckland,2,Auckland Region
4,5,591500,Cathedral Square,305,570,"5,351",102.3,22,Christchurch,Main urban area,60,Christchurch City,13,Canterbury Region
5,6,514101,Auckland Harbourside,253,5680,445,8.5,4,Central Auckland Zone,Main urban area,76,Auckland,2,Auckland Region
6,7,524604,Manukau Central,192,900,"2,133",40.8,5,Southern Auckland Zone,Main urban area,76,Auckland,2,Auckland Region
7,8,562800,Palmerston North Central,190,3060,621,11.9,16,Palmerston North,Main urban area,40,Palmerston North City,8,Manawatu-Wanganui Region
8,9,540410,Kuirau,168,1290,"1,302",24.9,10,Rotorua,Main urban area,24,Rotorua District,4,Bay of Plenty Region
9,10,538201,Tauranga Central,167,2270,736,14.1,9,Tauranga,Main urban area,23,Tauranga City,4,Bay of Plenty Region

In [21]:
highest_10_areas[['Area_unit_2013_label', 'Victimisations_calendar_year_2015']]

              Area_unit_2013_label  Victimisations_calendar_year_2015
0            Auckland Central West                                550
1  Willis Street-Cambridge Terrace                                447
2                 Hamilton Central                                380
3            Auckland Central East                                375
4                 Cathedral Square                                305
5             Auckland Harbourside                                253
6                  Manukau Central                                192
7         Palmerston North Central                                190
8                           Kuirau                                168
9                 Tauranga Central                                167

### 6. Lägg till en kolumn i dataframen som visar % antal överfall i området jämfört med invånarantal i området. Varje rad är ett område.

In [22]:
data['Percentage_in_population'] = data.Victimisations_calendar_year_2015 / data.Population_mid_point_2015 * 100
data

,Index,Area_unit_2013_code,Area_unit_2013_label,Victimisations_calendar_year_2015,Population_mid_point_2015,Rate_per_10000_population,Rate_ratio_NZ_average_rate,Urban_area_2013_code,Urban_area_2013_label,Urban_area_type,Territorial_authority_area_2013_code,Territorial_authority_area_2013_label,Region_2013_code,Region_2013_label,Percentage_in_population
0,1,514102,Auckland Central West,550,15900,346,6.6,4,Central Auckland Zone,Main urban area,76,Auckland,2,Auckland Region,3.459119
1,2,573101,Willis Street-Cambridge Terrace,447,8300,539,10.3,20,Wellington Zone,Main urban area,47,Wellington City,9,Wellington Region,5.385542
2,3,529700,Hamilton Central,380,3170,"1,199",22.9,6,Hamilton Zone,Main urban area,16,Hamilton City,3,Waikato Region,11.987382
3,4,514103,Auckland Central East,375,13250,283,5.4,4,Central Auckland Zone,Main urban area,76,Auckland,2,Auckland Region,2.830189
4,5,591500,Cathedral Square,305,570,"5,351",102.3,22,Christchurch,Main urban area,60,Christchurch City,13,Canterbury Region,53.508772
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2015,2016,506653,Riverhead,0,3510,-,-,502,Rural (Incl.some Off Shore Islands),Rural area,76,Auckland,2,Auckland Region,0.000000
2016,2017,610601,Grasmere,0,3590,-,-,24,Invercargill,Main urban area,75,Invercargill City,15,Southland Region,0.000000
2017,2018,536513,Bethlehem East,0,3590,-,-,9,Tauranga,Main urban area,23,Tauranga City,4,Bay of Plenty Region,0.000000
2018,2019,574302,Te Kainga,0,4020,-,-,20,Wellington Zone,Main urban area,47,Wellington City,9,Wellington Region,0.000000
2019,2020,527007,Horsham Downs,0,5440,-,-,6,Hamilton Zone,Main urban area,16,Hamilton City,3,Waikato Region,0.000000

### 7. Skapa en ny dataframe som innehåller antalet områden (Area_unit_2013_label) som finns av de olika typerna av urban area (Urban_area_2013_label).

In [23]:
cities_in_urban_areas = data.groupby('Urban_area_2013_label').Area_unit_2013_label.count().reset_index()
cities_in_urban_areas.rename(columns={'Urban_area_2013_label':'Urban_areas_2013', 'Area_unit_2013_label':'Cities_2013'}, inplace=True)
cities_in_urban_areas
#OBS! Jag testade bara "rename" på båda kolumner (Urban_area_2013_label, Area_unit_2013_label).

    Urban_areas_2013  Cities_2013
0          Alexandra            1
1           Amberley            1
2          Arrowtown            1
3          Ashburton           11
4          Balclutha            1
..               ...          ...
145        Whangarei           29
146        Whitianga            1
147           Winton            1
148          Woodend            3
149        Woodville            1

[150 rows x 2 columns]

### 8. Ta reda på hur många områden (varje rad är ett område) hade population men inga överfall. Jämfört totala populationen i dessa med totala populationen i deras region(Region_2013_label).

(MY COMMENT) Fråga beskrivningen är otydlig! I do not understand the question description here..otydlig fråga beskrivning

### Mitt svar: 

291 områden hade population men inga överfall(Vad menas detta??), enligt den andra dataframe(no_assault3).<br>
Den sista merged dataframe handlar om regionala data om totala befolkningen i noll-victimisation område och befolkningen i respektiva regioner.

In [24]:
no_assault = data[data['Victimisations_calendar_year_2015'] == 0]
no_assault2 = no_assault[['Area_unit_2013_label', 'Victimisations_calendar_year_2015', 'Population_mid_point_2015', 'Region_2013_label']].reset_index()
no_assault2

,index,Area_unit_2013_label,Victimisations_calendar_year_2015,Population_mid_point_2015,Region_2013_label
0,1613,White Island,0,0,Bay of Plenty Region
1,1614,Inlet-Kaipara River,0,0,Auckland Region
2,1615,Oceanic-Snares Islands,0,0,Area Outside Region
3,1616,Inland Water-Lake Alexandrina,0,0,Canterbury Region
4,1617,Oceanic-Waikato Region West,0,0,Waikato Region
...,...,...,...,...,...
402,2015,Riverhead,0,3510,Auckland Region
403,2016,Grasmere,0,3590,Southland Region
404,2017,Bethlehem East,0,3590,Bay of Plenty Region
405,2018,Te Kainga,0,4020,Wellington Region
406,2019,Horsham Downs,0,5440,Waikato Region

In [25]:
#my assumption for the dataframe below is that the areas with 0 values in population_mid_point_2015 can be excluded, because there seem to be no statistics in those areas. 

no_assault3 = no_assault2.drop(no_assault2[no_assault2['Population_mid_point_2015'] == 0].index).reset_index()
no_assault3

,level_0,index,Area_unit_2013_label,Victimisations_calendar_year_2015,Population_mid_point_2015,Region_2013_label
0,116,1729,Inlet-Milford Sound,0,10,Southland Region
1,117,1730,Inlet-Ligar Bay,0,10,Tasman Region
2,118,1731,Inlet-Otago Harbour,0,10,Otago Region
3,119,1732,Inlets-Thames-Coromandel District,0,10,Waikato Region
4,120,1733,Fiordland,0,10,Southland Region
...,...,...,...,...,...,...
286,402,2015,Riverhead,0,3510,Auckland Region
287,403,2016,Grasmere,0,3590,Southland Region
288,404,2017,Bethlehem East,0,3590,Bay of Plenty Region
289,405,2018,Te Kainga,0,4020,Wellington Region
290,406,2019,Horsham Downs,0,5440,Waikato Region

In [26]:
# Antal population i varje region som inte har victimisations

regional_0 = no_assault3.groupby('Region_2013_label').Population_mid_point_2015.sum().reset_index()
regional_0.rename(columns={
    'Population_mid_point_2015': 'Population_0_assault_areas'},
    inplace=True)
regional_0

           Region_2013_label  Population_0_assault_areas
0        Area Outside Region                         610
1            Auckland Region                       32520
2       Bay of Plenty Region                        6380
3          Canterbury Region                       37850
4            Gisborne Region                        1500
5         Hawke's Bay Region                        5360
6   Manawatu-Wanganui Region                        9610
7         Marlborough Region                        2790
8              Nelson Region                        1570
9           Northland Region                        5870
10              Otago Region                       17290
11          Southland Region                       14060
12           Taranaki Region                       13750
13             Tasman Region                        1020
14            Waikato Region                       18780
15         Wellington Region                       36110
16         West Coast Region                        7710

In [27]:
# Antal population i varje region

regional_population = data.groupby('Region_2013_label').Population_mid_point_2015.sum().reset_index()
regional_population.rename(columns={
    'Population_mid_point_2015': 'Population_entire_region'},
    inplace=True)
regional_population

           Region_2013_label  Population_entire_region
0        Area Outside Region                       610
1            Auckland Region                   1569890
2       Bay of Plenty Region                    287130
3          Canterbury Region                    586310
4            Gisborne Region                     47370
5         Hawke's Bay Region                    160010
6   Manawatu-Wanganui Region                    234460
7         Marlborough Region                     45340
8              Nelson Region                     49940
9           Northland Region                    168320
10              Otago Region                    215030
11          Southland Region                     97190
12           Taranaki Region                    115760
13             Tasman Region                     49500
14            Waikato Region                    439000
15         Wellington Region                    496890
16         West Coast Region                     32700

In [28]:
# merging the two dataframes in order to get the wanted dataframe
pd.merge(regional_0,regional_population)

,Region_2013_label,Population_0_assault_areas,Population_entire_region
0,Area Outside Region,610,610
1,Auckland Region,32520,1569890
2,Bay of Plenty Region,6380,287130
3,Canterbury Region,37850,586310
4,Gisborne Region,1500,47370
5,Hawke's Bay Region,5360,160010
6,Manawatu-Wanganui Region,9610,234460
7,Marlborough Region,2790,45340
8,Nelson Region,1570,49940
9,Northland Region,5870,168320
10,Otago Region,17290,215030
11,Southland Region,14060,97190
12,Taranaki Region,13750,115760
13,Tasman Region,1020,49500
14,Waikato Region,18780,439000
15,Wellington Region,36110,496890
16,West Coast Region,7710,32700

### 9. Räkna per kolumn hur många rader det är som inte innehåller någon data.

In [29]:
data.isnull().sum()

Index                                      0
Area_unit_2013_code                        0
Area_unit_2013_label                       0
Victimisations_calendar_year_2015          0
Population_mid_point_2015                  0
 Rate_per_10000_population                 0
 Rate_ratio_NZ_average_rate                0
Urban_area_2013_code                       0
Urban_area_2013_label                      0
Urban_area_type                            0
Territorial_authority_area_2013_code       0
Territorial_authority_area_2013_label      0
Region_2013_code                           0
Region_2013_label                          0
Percentage_in_population                 116
dtype: int64

### 10. Skapa en ny dataframe med 10 rader. Den innehåller de 10 rader med lägsta antalet överfall per invånare (Rate_per_10000_population), men mer än 5000 invånare.

##### Min tolkning av frågabeskrivningen är följande/My translation of the question description (because the this question description is unclear and some details are lacking):
Create a dataframe of the top populated areas (have >5000 population) with lowest rate per population('Rate_per_10000_population')

In [30]:
data.columns

Index(['Index', 'Area_unit_2013_code', 'Area_unit_2013_label',
       'Victimisations_calendar_year_2015', 'Population_mid_point_2015',
       ' Rate_per_10000_population ', ' Rate_ratio_NZ_average_rate ',
       'Urban_area_2013_code', 'Urban_area_2013_label', 'Urban_area_type',
       'Territorial_authority_area_2013_code',
       'Territorial_authority_area_2013_label', 'Region_2013_code',
       'Region_2013_label', 'Percentage_in_population'],
      dtype='object')

In [31]:
# Found spaces in the following two columns, so they are to be removed
data.rename(columns={
    ' Rate_per_10000_population ': 'Rate_per_10000_population',
    ' Rate_ratio_NZ_average_rate ': 'Rate_ratio_NZ_average_rate'},
    inplace=True)

In [32]:
data.columns

Index(['Index', 'Area_unit_2013_code', 'Area_unit_2013_label',
       'Victimisations_calendar_year_2015', 'Population_mid_point_2015',
       'Rate_per_10000_population', 'Rate_ratio_NZ_average_rate',
       'Urban_area_2013_code', 'Urban_area_2013_label', 'Urban_area_type',
       'Territorial_authority_area_2013_code',
       'Territorial_authority_area_2013_label', 'Region_2013_code',
       'Region_2013_label', 'Percentage_in_population'],
      dtype='object')

In [33]:
# create a subset for population over 5000
more_than_5000 = data[data['Population_mid_point_2015'] > 5000]
more_than_5000

,Index,Area_unit_2013_code,Area_unit_2013_label,Victimisations_calendar_year_2015,Population_mid_point_2015,Rate_per_10000_population,Rate_ratio_NZ_average_rate,Urban_area_2013_code,Urban_area_2013_label,Urban_area_type,Territorial_authority_area_2013_code,Territorial_authority_area_2013_label,Region_2013_code,Region_2013_label,Percentage_in_population
0,1,514102,Auckland Central West,550,15900,346,6.6,4,Central Auckland Zone,Main urban area,76,Auckland,2,Auckland Region,3.459119
1,2,573101,Willis Street-Cambridge Terrace,447,8300,539,10.3,20,Wellington Zone,Main urban area,47,Wellington City,9,Wellington Region,5.385542
3,4,514103,Auckland Central East,375,13250,283,5.4,4,Central Auckland Zone,Main urban area,76,Auckland,2,Auckland Region,2.830189
5,6,514101,Auckland Harbourside,253,5680,445,8.5,4,Central Auckland Zone,Main urban area,76,Auckland,2,Auckland Region,4.454225
11,12,521901,Otahuhu West,148,5400,274,5.2,4,Central Auckland Zone,Main urban area,76,Auckland,2,Auckland Region,2.740741
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1392,1393,527131,Tamahere-Tauwhare,2,6110,3,0.1,6,Hamilton Zone,Main urban area,13,Waikato District,3,Waikato Region,0.032733
1393,1394,514600,Avondale South,2,6110,3,0.1,4,Central Auckland Zone,Main urban area,76,Auckland,2,Auckland Region,0.032733
1611,1612,507300,Murrays Bay,1,5150,2,0,2,Northern Auckland Zone,Main urban area,76,Auckland,2,Auckland Region,0.019417
1612,1613,516302,Meadowbank South,1,5560,2,0,4,Central Auckland Zone,Main urban area,76,Auckland,2,Auckland Region,0.017986
2019,2020,527007,Horsham Downs,0,5440,-,-,6,Hamilton Zone,Main urban area,16,Hamilton City,3,Waikato Region,0.000000

In [34]:
# sort more_than_500 by 'Rate_per_10000_population'
lowest_rate = more_than_5000.sort_values(by='Rate_per_10000_population', ascending=True, ignore_index=True).head(15)
lowest_rate

,Index,Area_unit_2013_code,Area_unit_2013_label,Victimisations_calendar_year_2015,Population_mid_point_2015,Rate_per_10000_population,Rate_ratio_NZ_average_rate,Urban_area_2013_code,Urban_area_2013_label,Urban_area_type,Territorial_authority_area_2013_code,Territorial_authority_area_2013_label,Region_2013_code,Region_2013_label,Percentage_in_population
0,2020,527007,Horsham Downs,0,5440,-,-,6,Hamilton Zone,Main urban area,16,Hamilton City,3,Waikato Region,0.000000
1,808,508520,Sunnynook,7,7220,10,0.2,2,Northern Auckland Zone,Main urban area,76,Auckland,2,Auckland Region,0.096953
2,886,509400,Mt Victoria,6,5800,10,0.2,2,Northern Auckland Zone,Main urban area,76,Auckland,2,Auckland Region,0.103448
3,691,527009,Huntington,9,8630,10,0.2,6,Hamilton Zone,Main urban area,16,Hamilton City,3,Waikato Region,0.104287
4,887,508411,Glendhu,6,6030,10,0.2,2,Northern Auckland Zone,Main urban area,76,Auckland,2,Auckland Region,0.099502
5,809,562200,Kelvin Grove,7,7290,10,0.2,16,Palmerston North,Main urban area,40,Palmerston North City,8,Manawatu-Wanganui Region,0.096022
6,888,528310,Bryant,6,6150,10,0.2,6,Hamilton Zone,Main urban area,16,Hamilton City,3,Waikato Region,0.097561
7,968,597730,Hinds,5,5030,10,0.2,502,Rural (Incl.some Off Shore Islands),Rural area,63,Ashburton District,13,Canterbury Region,0.099404
8,969,501802,Opouteke-Tanekaha,5,5070,10,0.2,502,Rural (Incl.some Off Shore Islands),Rural area,2,Whangarei District,1,Northland Region,0.098619
9,37,524200,Mangere South,81,7980,102,1.9,5,Southern Auckland Zone,Main urban area,76,Auckland,2,Auckland Region,1.015038
10,64,524822,Clendon South,57,5560,103,2,5,Southern Auckland Zone,Main urban area,76,Auckland,2,Auckland Region,1.025180
11,807,518901,Lynfield North,7,6490,11,0.2,4,Central Auckland Zone,Main urban area,76,Auckland,2,Auckland Region,0.107858
12,806,537900,Hairini,7,6250,11,0.2,9,Tauranga,Main urban area,23,Tauranga City,4,Bay of Plenty Region,0.112000
13,885,547200,Taradale North,6,5600,11,0.2,12,Napier Zone,Main urban area,31,Napier City,6,Hawke's Bay Region,0.107143
14,884,523101,Howick South,6,5430,11,0.2,5,Southern Auckland Zone,Main urban area,76,Auckland,2,Auckland Region,0.110497

In [35]:
# The above dataframe needs to be modified, removing unwanted rows
lowest_rate_modified = lowest_rate.drop([0,9,10])

lowest_rate_modified

,Index,Area_unit_2013_code,Area_unit_2013_label,Victimisations_calendar_year_2015,Population_mid_point_2015,Rate_per_10000_population,Rate_ratio_NZ_average_rate,Urban_area_2013_code,Urban_area_2013_label,Urban_area_type,Territorial_authority_area_2013_code,Territorial_authority_area_2013_label,Region_2013_code,Region_2013_label,Percentage_in_population
1,808,508520,Sunnynook,7,7220,10,0.2,2,Northern Auckland Zone,Main urban area,76,Auckland,2,Auckland Region,0.096953
2,886,509400,Mt Victoria,6,5800,10,0.2,2,Northern Auckland Zone,Main urban area,76,Auckland,2,Auckland Region,0.103448
3,691,527009,Huntington,9,8630,10,0.2,6,Hamilton Zone,Main urban area,16,Hamilton City,3,Waikato Region,0.104287
4,887,508411,Glendhu,6,6030,10,0.2,2,Northern Auckland Zone,Main urban area,76,Auckland,2,Auckland Region,0.099502
5,809,562200,Kelvin Grove,7,7290,10,0.2,16,Palmerston North,Main urban area,40,Palmerston North City,8,Manawatu-Wanganui Region,0.096022
6,888,528310,Bryant,6,6150,10,0.2,6,Hamilton Zone,Main urban area,16,Hamilton City,3,Waikato Region,0.097561
7,968,597730,Hinds,5,5030,10,0.2,502,Rural (Incl.some Off Shore Islands),Rural area,63,Ashburton District,13,Canterbury Region,0.099404
8,969,501802,Opouteke-Tanekaha,5,5070,10,0.2,502,Rural (Incl.some Off Shore Islands),Rural area,2,Whangarei District,1,Northland Region,0.098619
11,807,518901,Lynfield North,7,6490,11,0.2,4,Central Auckland Zone,Main urban area,76,Auckland,2,Auckland Region,0.107858
12,806,537900,Hairini,7,6250,11,0.2,9,Tauranga,Main urban area,23,Tauranga City,4,Bay of Plenty Region,0.112000
13,885,547200,Taradale North,6,5600,11,0.2,12,Napier Zone,Main urban area,31,Napier City,6,Hawke's Bay Region,0.107143
14,884,523101,Howick South,6,5430,11,0.2,5,Southern Auckland Zone,Main urban area,76,Auckland,2,Auckland Region,0.110497

### Mitt Svar

In [36]:
# Finally ready to show the top populated areas (have >5000 population) with lowest rate per population('Rate_per_10000_population')
lowest_rate_modified_10 = lowest_rate_modified[['Area_unit_2013_label', 'Rate_per_10000_population','Population_mid_point_2015']].head(10).reset_index()
lowest_rate_modified_10

,index,Area_unit_2013_label,Rate_per_10000_population,Population_mid_point_2015
0,1,Sunnynook,10,7220
1,2,Mt Victoria,10,5800
2,3,Huntington,10,8630
3,4,Glendhu,10,6030
4,5,Kelvin Grove,10,7290
5,6,Bryant,10,6150
6,7,Hinds,10,5030
7,8,Opouteke-Tanekaha,10,5070
8,11,Lynfield North,11,6490
9,12,Hairini,11,6250

### 11. Skapa en ny dataframe ”regions” som innehåller sammansatt data per region(Region_2013_label). Lägg till en ny kolumn som innehåller ”Rate_per_10000_population” fast för hela regionen.

Återkoppling: Alright, #11 is incorrect. "Regions" should concern every region. That is, we want all the data in them to be groupby'd. Then calculate the "Rate per 10000", as in, number of victimizations per 10000 population.

In [37]:
data.columns

Index(['Index', 'Area_unit_2013_code', 'Area_unit_2013_label',
       'Victimisations_calendar_year_2015', 'Population_mid_point_2015',
       'Rate_per_10000_population', 'Rate_ratio_NZ_average_rate',
       'Urban_area_2013_code', 'Urban_area_2013_label', 'Urban_area_type',
       'Territorial_authority_area_2013_code',
       'Territorial_authority_area_2013_label', 'Region_2013_code',
       'Region_2013_label', 'Percentage_in_population'],
      dtype='object')

In [38]:
regions = data[['Region_2013_code', 'Region_2013_label']].reset_index()
regions

      index  Region_2013_code     Region_2013_label
0         0                 2       Auckland Region
1         1                 9     Wellington Region
2         2                 3        Waikato Region
3         3                 2       Auckland Region
4         4                13     Canterbury Region
...     ...               ...                   ...
2015   2015                 2       Auckland Region
2016   2016                15      Southland Region
2017   2017                 4  Bay of Plenty Region
2018   2018                 9     Wellington Region
2019   2019                 3        Waikato Region

[2020 rows x 3 columns]

In [39]:
# Create a dataframe for rate per 10000 population
addendum = data['Rate_per_10000_population'].reset_index()
addendum

      index Rate_per_10000_population
0         0                       346
1         1                       539
2         2                     1,199
3         3                       283
4         4                     5,351
...     ...                       ...
2015   2015                      -
2016   2016                      -
2017   2017                      -
2018   2018                      -
2019   2019                      -

[2020 rows x 2 columns]

In [40]:
# merge the two dataframes

regions_updated = pd.merge(regions, addendum)
regions_updated

      index  Region_2013_code     Region_2013_label Rate_per_10000_population
0         0                 2       Auckland Region                       346
1         1                 9     Wellington Region                       539
2         2                 3        Waikato Region                     1,199
3         3                 2       Auckland Region                       283
4         4                13     Canterbury Region                     5,351
...     ...               ...                   ...                       ...
2015   2015                 2       Auckland Region                      -
2016   2016                15      Southland Region                      -
2017   2017                 4  Bay of Plenty Region                      -
2018   2018                 9     Wellington Region                      -
2019   2019                 3        Waikato Region                      -

[2020 rows x 4 columns]

### 12. Lägg till en ny kolumn i dataframen med regionerna som visar i % hur många av alla överfall som sker i den regionen

In [41]:
data.columns

Index(['Index', 'Area_unit_2013_code', 'Area_unit_2013_label',
       'Victimisations_calendar_year_2015', 'Population_mid_point_2015',
       'Rate_per_10000_population', 'Rate_ratio_NZ_average_rate',
       'Urban_area_2013_code', 'Urban_area_2013_label', 'Urban_area_type',
       'Territorial_authority_area_2013_code',
       'Territorial_authority_area_2013_label', 'Region_2013_code',
       'Region_2013_label', 'Percentage_in_population'],
      dtype='object')

In [42]:
# get the total number of victimisations in numpy
total_victimisations_2015 = data.Victimisations_calendar_year_2015.sum()
total_victimisations_2015

24035

In [43]:
# Add the new column called 'Percent_in_all_assaults' to the previous dataframe 'regions_updated' in the question 11

get_percentage = lambda x: x/total_victimisations_2015*100
regions_updated['Percent_in_all_assaults'] = data.Victimisations_calendar_year_2015.apply(get_percentage)
regions_updated

,index,Region_2013_code,Region_2013_label,Rate_per_10000_population,Percent_in_all_assaults
0,0,2,Auckland Region,346,2.288330
1,1,9,Wellington Region,539,1.859788
2,2,3,Waikato Region,"1,199",1.581028
3,3,2,Auckland Region,283,1.560225
4,4,13,Canterbury Region,"5,351",1.268983
...,...,...,...,...,...
2015,2015,2,Auckland Region,-,0.000000
2016,2016,15,Southland Region,-,0.000000
2017,2017,4,Bay of Plenty Region,-,0.000000
2018,2018,9,Wellington Region,-,0.000000
2019,2019,3,Waikato Region,-,0.000000

# Part 3 - Analys

## Step 1: Selecting dataset

In [48]:
import pandas as pd
import numpy as np
import matplotlib.pylab as plt
#import seaborn as sns 
#plt.style.use('ggplot') 
pd.set_option('max_columns', 200)

In [49]:
df = pd.read_csv('titanic.csv')

In [50]:
df.shape

(891, 12)

In [55]:
df.head(10)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C

In [52]:
df.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [53]:
df.dtypes

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

In [59]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [54]:
df.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

## Step 2: Data preparation and cleaning

In [56]:
df.isna().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [58]:
df.duplicated()
df.loc[df.duplicated()]

Empty DataFrame
Columns: [PassengerId, Survived, Pclass, Name, Sex, Age, SibSp, Parch, Ticket, Fare, Cabin, Embarked]
Index: []

In [56]:
df1 = df.dropna()
df1.isnull().sum()

alpha-2                     0
alpha-3                     0
country-code                0
iso_3166-2                  0
region                      0
sub-region                  0
intermediate-region         0
region-code                 0
sub-region-code             0
intermediate-region-code    0
dtype: int64

In [57]:
#df2 = df1.astype({"region-code":'int', "sub-region-code":'int', "intermediate-region-code":'int'})

#### DATA PREPARATION & CLEANING STATUS:<br>
#### null, duplicates, dtype are cleaned and modified now, and the dataframe is ready to analyse (df2)

## Step 3: Undersökande analys och visualisering

In [61]:
print(df2.mean())

country-code                426.207547
region-code                  13.132075
sub-region-code             307.547170
intermediate-region-code     31.849057
dtype: float64

C:\Users\mimmi\AppData\Local\Temp\ipykernel_4560\2250652926.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  print(df2.mean())

In [63]:
df2.median()

C:\Users\mimmi\AppData\Local\Temp\ipykernel_4560\1172267387.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df2.median()

country-code                428.0
region-code                  19.0
sub-region-code             202.0
intermediate-region-code     14.0
dtype: float64

In [64]:
df2.std

<bound method NDFrame._add_numeric_operations.<locals>.std of                                    alpha-2 alpha-3  country-code  \
name
Angola                                  AO     AGO            24
Anguilla                                AI     AIA           660
Antigua and Barbuda                     AG     ATG            28
Argentina                               AR     ARG            32
Aruba                                   AW     ABW           533
...                                    ...     ...           ...
Venezuela (Bolivarian Republic of)      VE     VEN           862
Virgin Islands (British)                VG     VGB            92
Virgin Islands (U.S.)                   VI     VIR           850
Zambia                                  ZM     ZMB           894
Zimbabwe                                ZW     ZWE           716

                                       iso_3166-2    region  \
name
Angola                              ISO 3166-2:AO    Africa
Anguilla                            ISO 3166-2:AI  Americas
Antigua and Barbuda                 ISO 3166-2:AG  Americas
Argentina                           ISO 3166-2:AR  Americas
Aruba                               ISO 3166-2:AW  Americas
...                                           ...       ...
Venezuela (Bolivarian Republic of)  ISO 3166-2:VE  Americas
Virgin Islands (British)            ISO 3166-2:VG  Americas
Virgin Islands (U.S.)               ISO 3166-2:VI  Americas
Zambia                              ISO 3166-2:ZM    Africa
Zimbabwe                            ISO 3166-2:ZW    Africa

                                                         sub-region  \
name
Angola                                           Sub-Saharan Africa
Anguilla                            Latin America and the Caribbean
Antigua and Barbuda                 Latin America and the Caribbean
Argentina                           Latin America and the Caribbean
Aruba                               Latin America and the Caribbean
...                                                             ...
Venezuela (Bolivarian Republic of)  Latin America and the Caribbean
Virgin Islands (British)            Latin America and the Caribbean
Virgin Islands (U.S.)               Latin America and the Caribbean
Zambia                                           Sub-Saharan Africa
Zimbabwe                                         Sub-Saharan Africa

                                   intermediate-region  region-code  \
name
Angola                                   Middle Africa            2
Anguilla                                     Caribbean           19
Antigua and Barbuda                          Caribbean           19
Argentina                                South America           19
Aruba                                        Caribbean           19
...                                                ...          ...
Venezuela (Bolivarian Republic of)       South America           19
Virgin Islands (British)                     Caribbean           19
Virgin Islands (U.S.)                        Caribbean           19
Zambia                                  Eastern Africa            2
Zimbabwe                                Eastern Africa            2

                                    sub-region-code  intermediate-region-code
name
Angola                                          202                        17
Anguilla                                        419                        29
Antigua and Barbuda                             419                        29
Argentina                                       419                         5
Aruba                                           419                        29
...                                             ...                       ...
Venezuela (Bolivarian Republic of)              419                         5
Virgin Islands (British)                        419                        29
Virgin Islands (U.S.)                           419                        29
Zambia                                          202                        14
Zimbabwe                                        202                        14

[106 rows x 10 columns]>